body{
    padding:0px;
    margin:0px;
    background-color: #17b52f
}

canvas {   
    display : block;   margin : auto;
}

textarea {
    border: 1px solid #888; 
    width: 1198px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    text-align: left;
    font-size: 25px;
  }

